* body {
  margin: 0;
}

.navbar {
  position: fixed;
  padding: 14px;
  font-family: Arial;
  background-color: darkorange;
  margin-top: 100px;
  align-self: center;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: red;
}

/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#home {
  margin-left: 100px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}
